<div class="graphic-inner component-inner">
    {{> component this}}
    <div class="component-widget character-widget">
		<img src="assets/character-{{characterId}}.svg" />
		<blockquote class="oval-thought-border">
		    <p>{{speech}}</p>
		</blockquote>	
    </div>
</div>